<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <title>Generated Image</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../reset.min.css" />
  <link rel="stylesheet" href="./ones-game-night.css" />
  <style></style>
  <body>
    <div class="container">
      <div class="flex-grow"></div>
      <img class="bg" src="./bg-s.jpg" alt="" />
      <img class="cover" src="./pic3482521.webp" alt="" />
      <div class="container__text">
        <h1>The ONEs&#10;Game Night</h1>
        <p class="date">~ 12/3 [Wen] 19:30 ~</p>
      </div>
    </div>
  </body>
</html>
